# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [38]:
# Load the weatherpy_data.csv file
weatherpy_data_csv = "../output_data/cities.csv"

# Create a dataframe with imported csv file
weatherpy_info_data_df = pd.read_csv(weatherpy_data_csv)

# Display dataframe
weatherpy_info_data_df.head()

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Toamasina,MG,-18.1667,49.3833,75.20,100,20,2.30,1613531698
1,1,Rey Bouba,CM,8.6724,14.1786,66.42,22,41,0.85,1613531698
2,2,Los Llanos de Aridane,ES,28.6585,-17.9182,62.60,59,79,8.05,1613531417
3,3,Sinnamary,GF,5.3833,-52.9500,75.43,81,3,12.17,1613531698
4,4,Port Blair,IN,11.6667,92.7500,80.94,65,0,11.41,1613531699

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [39]:
# Configuring gmaps
gmaps.configure(api_key=g_key)

In [40]:
weatherpy_info_data_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Toamasina,MG,-18.1667,49.3833,75.20,100,20,2.30,1613531698
1,1,Rey Bouba,CM,8.6724,14.1786,66.42,22,41,0.85,1613531698
2,2,Los Llanos de Aridane,ES,28.6585,-17.9182,62.60,59,79,8.05,1613531417
3,3,Sinnamary,GF,5.3833,-52.9500,75.43,81,3,12.17,1613531698
4,4,Port Blair,IN,11.6667,92.7500,80.94,65,0,11.41,1613531699
...,...,...,...,...,...,...,...,...,...,...
576,576,Cantapoy,PH,9.4906,125.4364,82.38,62,100,7.40,1613531867
577,577,Mahon,ES,39.8885,4.2658,48.20,87,75,3.44,1613531872
578,578,Cururupu,BR,-1.8283,-44.8683,73.74,97,90,2.71,1613531872
579,579,Bloemfontein,ZA,-29.1211,26.2140,55.40,94,0,3.44,1613531872
580,580,Hukuntsi,BW,-24.0000,21.7500,69.39,33,0,5.32,1613531873

In [41]:
# Drop null or NaN values on the dataframe
weatherpy_info_data_df = weatherpy_info_data_df.dropna(how='all')

weatherpy_info_data_df.count()

Unnamed: 0    581
City          581
Country       575
Lat           581
Long          581
Max Temp      581
Humidity      581
Cloudiness    581
Wind Speed    581
Date          581
dtype: int64

In [42]:
weatherpy_info_data_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Toamasina,MG,-18.1667,49.3833,75.20,100,20,2.30,1613531698
1,1,Rey Bouba,CM,8.6724,14.1786,66.42,22,41,0.85,1613531698
2,2,Los Llanos de Aridane,ES,28.6585,-17.9182,62.60,59,79,8.05,1613531417
3,3,Sinnamary,GF,5.3833,-52.9500,75.43,81,3,12.17,1613531698
4,4,Port Blair,IN,11.6667,92.7500,80.94,65,0,11.41,1613531699
...,...,...,...,...,...,...,...,...,...,...
576,576,Cantapoy,PH,9.4906,125.4364,82.38,62,100,7.40,1613531867
577,577,Mahon,ES,39.8885,4.2658,48.20,87,75,3.44,1613531872
578,578,Cururupu,BR,-1.8283,-44.8683,73.74,97,90,2.71,1613531872
579,579,Bloemfontein,ZA,-29.1211,26.2140,55.40,94,0,3.44,1613531872
580,580,Hukuntsi,BW,-24.0000,21.7500,69.39,33,0,5.32,1613531873

In [43]:
locations = weatherpy_info_data_df[["Lat","Long"]].astype(float)

# Use Humidity as a parameter
humidity = weatherpy_info_data_df["Humidity"].astype(float)


# Create a Humidity heatmap
fig = gmaps.figure()

heat_map_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=max(weatherpy_info_data_df["Humidity"]),
                                point_radius = 1)

fig.add_layer(heat_map_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [44]:
# new dataframe for ideal weather conditions
ideal_weather_info_df = weatherpy_info_data_df
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Toamasina,MG,-18.1667,49.3833,75.20,100,20,2.30,1613531698
1,1,Rey Bouba,CM,8.6724,14.1786,66.42,22,41,0.85,1613531698
2,2,Los Llanos de Aridane,ES,28.6585,-17.9182,62.60,59,79,8.05,1613531417
3,3,Sinnamary,GF,5.3833,-52.9500,75.43,81,3,12.17,1613531698
4,4,Port Blair,IN,11.6667,92.7500,80.94,65,0,11.41,1613531699
...,...,...,...,...,...,...,...,...,...,...
576,576,Cantapoy,PH,9.4906,125.4364,82.38,62,100,7.40,1613531867
577,577,Mahon,ES,39.8885,4.2658,48.20,87,75,3.44,1613531872
578,578,Cururupu,BR,-1.8283,-44.8683,73.74,97,90,2.71,1613531872
579,579,Bloemfontein,ZA,-29.1211,26.2140,55.40,94,0,3.44,1613531872
580,580,Hukuntsi,BW,-24.0000,21.7500,69.39,33,0,5.32,1613531873

In [48]:
# filtering ideal_weather_df by adding condition of max temperature higher than 70 degrees
ideal_weather_info_df = ideal_weather_info_df.loc[ideal_weather_info_df['Max Temp'] >= 70] 
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Toamasina,MG,-18.1667,49.3833,75.20,100,20,2.30,1613531698
3,3,Sinnamary,GF,5.3833,-52.9500,75.43,81,3,12.17,1613531698
4,4,Port Blair,IN,11.6667,92.7500,80.94,65,0,11.41,1613531699
5,5,Supe,PE,-10.8000,-77.7333,71.51,75,10,3.65,1613531699
10,10,Avarua,CK,-21.2078,-159.7750,84.43,62,99,4.07,1613531699
...,...,...,...,...,...,...,...,...,...,...
566,566,Dakar,SN,14.6937,-17.4441,75.20,38,100,13.80,1613531786
570,570,Yulara,AU,-25.2406,130.9889,98.60,18,61,12.66,1613531866
572,572,Parnamirim,BR,-5.9156,-35.2628,80.60,83,75,8.05,1613531594
576,576,Cantapoy,PH,9.4906,125.4364,82.38,62,100,7.40,1613531867
578,578,Cururupu,BR,-1.8283,-44.8683,73.74,97,90,2.71,1613531872

In [50]:
# filtering ideal_weather_df by adding condition of max temperature lower than 80 degrees
ideal_weather_info_df = ideal_weather_info_df.loc[ideal_weather_info_df['Max Temp'] <= 80] 
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Toamasina,MG,-18.1667,49.3833,75.20,100,20,2.30,1613531698
3,3,Sinnamary,GF,5.3833,-52.9500,75.43,81,3,12.17,1613531698
5,5,Supe,PE,-10.8000,-77.7333,71.51,75,10,3.65,1613531699
24,24,Batemans Bay,AU,-35.7167,150.1833,73.00,67,53,1.99,1613531701
25,25,Mahébourg,MU,-20.4081,57.7000,77.00,94,75,3.44,1613531702
...,...,...,...,...,...,...,...,...,...,...
543,543,Mogok,MM,22.9167,96.5000,74.88,24,0,1.52,1613531862
549,549,La Asuncion,VE,11.0333,-63.8628,75.33,86,6,15.05,1613531863
559,559,Kasongo-Lunda,CD,-6.4667,16.8167,71.02,92,100,1.99,1613531865
566,566,Dakar,SN,14.6937,-17.4441,75.20,38,100,13.80,1613531786
578,578,Cururupu,BR,-1.8283,-44.8683,73.74,97,90,2.71,1613531872

In [52]:
#filtering ideal_weather_df byadding condition of wind speed less than 10 mph
ideal_weather_info_df = ideal_weather_info_df.loc[ideal_weather_info_df['Wind Speed'] < 10]
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Toamasina,MG,-18.1667,49.3833,75.20,100,20,2.30,1613531698
5,5,Supe,PE,-10.8000,-77.7333,71.51,75,10,3.65,1613531699
24,24,Batemans Bay,AU,-35.7167,150.1833,73.00,67,53,1.99,1613531701
25,25,Mahébourg,MU,-20.4081,57.7000,77.00,94,75,3.44,1613531702
41,41,Busselton,AU,-33.6500,115.3333,75.99,63,0,3.00,1613531705
...,...,...,...,...,...,...,...,...,...,...
541,541,Ilebo,CD,-4.3167,20.5833,73.35,91,100,0.83,1613531862
542,542,Colgong,IN,25.2667,87.2167,70.50,41,36,1.95,1613531862
543,543,Mogok,MM,22.9167,96.5000,74.88,24,0,1.52,1613531862
559,559,Kasongo-Lunda,CD,-6.4667,16.8167,71.02,92,100,1.99,1613531865
578,578,Cururupu,BR,-1.8283,-44.8683,73.74,97,90,2.71,1613531872

In [54]:
# filtering ideal_weather_df by adding condition of zero cloudiness 
ideal_weather_info_df = ideal_weather_info_df.loc[ideal_weather_info_df['Cloudiness'] == 0]
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
41,41,Busselton,AU,-33.6500,115.3333,75.99,63,0,3.00,1613531705
63,63,Hambantota,LK,6.1241,81.1185,75.20,100,0,5.75,1613531714
102,102,São João da Barra,BR,-21.6403,-41.0511,75.79,91,0,8.84,1613531726
104,104,Wattegama,LK,6.7989,81.4808,75.20,100,0,5.75,1613531727
117,117,Cidreira,BR,-30.1811,-50.2056,71.64,82,0,9.06,1613531729
120,120,Arraial do Cabo,BR,-22.9661,-42.0278,76.24,79,0,7.36,1613531729
132,132,Pochutla,MX,15.7432,-96.4661,72.00,76,0,3.91,1613531737
158,158,El Salvador,SV,13.8333,-88.9167,73.40,94,0,2.30,1613531528
203,203,San Lorenzo,PY,-25.3333,-57.5333,73.40,68,0,4.61,1613531754
210,210,Mossamedes,AO,-15.1961,12.1522,72.12,76,0,3.94,1613531755
238,238,Yārāda,IN,17.6500,83.2667,75.20,78,0,2.30,1613531765
267,267,Kassala,SD,15.4510,36.4000,71.15,29,0,9.22,1613531775
295,295,Pisco,PE,-13.7000,-76.2167,71.60,78,0,5.75,1613531669
330,330,Manaus,BR,-3.1019,-60.0250,78.80,83,0,5.75,1613531794
343,343,Isla Pucú,PY,-25.3000,-56.9000,73.40,68,0,4.61,1613531796
363,363,Alibag,IN,18.6411,72.8792,75.20,73,0,5.75,1613531805
380,380,Villa Carlos Paz,AR,-31.4241,-64.4978,71.01,94,0,5.75,1613531808
441,441,Cabo Rojo,PR,18.0866,-67.1457,73.69,71,0,9.91,1613531828
470,470,Alta Gracia,AR,-31.6529,-64.4283,71.01,94,0,5.75,1613531837
518,518,Beruwala,LK,6.4788,79.9828,79.43,74,0,2.33,1613531853
527,527,Mapastepec,MX,15.4333,-92.9000,73.17,67,0,2.08,1613531855
543,543,Mogok,MM,22.9167,96.5000,74.88,24,0,1.52,1613531862

In [55]:
ideal_weather_info_df.count()

Unnamed: 0    22
City          22
Country       22
Lat           22
Long          22
Max Temp      22
Humidity      22
Cloudiness    22
Wind Speed    22
Date          22
dtype: int64

In [56]:
# Drop any rows that don't contain all three conditions
ideal_weather_info_df = ideal_weather_info_df.dropna(how = "all")
ideal_weather_info_df.count()

Unnamed: 0    22
City          22
Country       22
Lat           22
Long          22
Max Temp      22
Humidity      22
Cloudiness    22
Wind Speed    22
Date          22
dtype: int64

In [57]:
# Resetting the index number on the new dataframe
ideal_weather_info_df = ideal_weather_info_df.reset_index()
ideal_weather_info_df

,index,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,41,41,Busselton,AU,-33.6500,115.3333,75.99,63,0,3.00,1613531705
1,63,63,Hambantota,LK,6.1241,81.1185,75.20,100,0,5.75,1613531714
2,102,102,São João da Barra,BR,-21.6403,-41.0511,75.79,91,0,8.84,1613531726
3,104,104,Wattegama,LK,6.7989,81.4808,75.20,100,0,5.75,1613531727
4,117,117,Cidreira,BR,-30.1811,-50.2056,71.64,82,0,9.06,1613531729
5,120,120,Arraial do Cabo,BR,-22.9661,-42.0278,76.24,79,0,7.36,1613531729
6,132,132,Pochutla,MX,15.7432,-96.4661,72.00,76,0,3.91,1613531737
7,158,158,El Salvador,SV,13.8333,-88.9167,73.40,94,0,2.30,1613531528
8,203,203,San Lorenzo,PY,-25.3333,-57.5333,73.40,68,0,4.61,1613531754
9,210,210,Mossamedes,AO,-15.1961,12.1522,72.12,76,0,3.94,1613531755
10,238,238,Yārāda,IN,17.6500,83.2667,75.20,78,0,2.30,1613531765
11,267,267,Kassala,SD,15.4510,36.4000,71.15,29,0,9.22,1613531775
12,295,295,Pisco,PE,-13.7000,-76.2167,71.60,78,0,5.75,1613531669
13,330,330,Manaus,BR,-3.1019,-60.0250,78.80,83,0,5.75,1613531794
14,343,343,Isla Pucú,PY,-25.3000,-56.9000,73.40,68,0,4.61,1613531796
15,363,363,Alibag,IN,18.6411,72.8792,75.20,73,0,5.75,1613531805
16,380,380,Villa Carlos Paz,AR,-31.4241,-64.4978,71.01,94,0,5.75,1613531808
17,441,441,Cabo Rojo,PR,18.0866,-67.1457,73.69,71,0,9.91,1613531828
18,470,470,Alta Gracia,AR,-31.6529,-64.4283,71.01,94,0,5.75,1613531837
19,518,518,Beruwala,LK,6.4788,79.9828,79.43,74,0,2.33,1613531853
20,527,527,Mapastepec,MX,15.4333,-92.9000,73.17,67,0,2.08,1613531855
21,543,543,Mogok,MM,22.9167,96.5000,74.88,24,0,1.52,1613531862

In [58]:
### Hotel Map; Storing values into a variable named `hotel_df`
hotel_df = ideal_weather_info_df
hotel_df

,index,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,41,41,Busselton,AU,-33.6500,115.3333,75.99,63,0,3.00,1613531705
1,63,63,Hambantota,LK,6.1241,81.1185,75.20,100,0,5.75,1613531714
2,102,102,São João da Barra,BR,-21.6403,-41.0511,75.79,91,0,8.84,1613531726
3,104,104,Wattegama,LK,6.7989,81.4808,75.20,100,0,5.75,1613531727
4,117,117,Cidreira,BR,-30.1811,-50.2056,71.64,82,0,9.06,1613531729
5,120,120,Arraial do Cabo,BR,-22.9661,-42.0278,76.24,79,0,7.36,1613531729
6,132,132,Pochutla,MX,15.7432,-96.4661,72.00,76,0,3.91,1613531737
7,158,158,El Salvador,SV,13.8333,-88.9167,73.40,94,0,2.30,1613531528
8,203,203,San Lorenzo,PY,-25.3333,-57.5333,73.40,68,0,4.61,1613531754
9,210,210,Mossamedes,AO,-15.1961,12.1522,72.12,76,0,3.94,1613531755
10,238,238,Yārāda,IN,17.6500,83.2667,75.20,78,0,2.30,1613531765
11,267,267,Kassala,SD,15.4510,36.4000,71.15,29,0,9.22,1613531775
12,295,295,Pisco,PE,-13.7000,-76.2167,71.60,78,0,5.75,1613531669
13,330,330,Manaus,BR,-3.1019,-60.0250,78.80,83,0,5.75,1613531794
14,343,343,Isla Pucú,PY,-25.3000,-56.9000,73.40,68,0,4.61,1613531796
15,363,363,Alibag,IN,18.6411,72.8792,75.20,73,0,5.75,1613531805
16,380,380,Villa Carlos Paz,AR,-31.4241,-64.4978,71.01,94,0,5.75,1613531808
17,441,441,Cabo Rojo,PR,18.0866,-67.1457,73.69,71,0,9.91,1613531828
18,470,470,Alta Gracia,AR,-31.6529,-64.4283,71.01,94,0,5.75,1613531837
19,518,518,Beruwala,LK,6.4788,79.9828,79.43,74,0,2.33,1613531853
20,527,527,Mapastepec,MX,15.4333,-92.9000,73.17,67,0,2.08,1613531855
21,543,543,Mogok,MM,22.9167,96.5000,74.88,24,0,1.52,1613531862

In [59]:
# Adding the hotel name column to the DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df

,index,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,41,41,Busselton,AU,-33.6500,115.3333,75.99,63,0,3.00,1613531705,
1,63,63,Hambantota,LK,6.1241,81.1185,75.20,100,0,5.75,1613531714,
2,102,102,São João da Barra,BR,-21.6403,-41.0511,75.79,91,0,8.84,1613531726,
3,104,104,Wattegama,LK,6.7989,81.4808,75.20,100,0,5.75,1613531727,
4,117,117,Cidreira,BR,-30.1811,-50.2056,71.64,82,0,9.06,1613531729,
5,120,120,Arraial do Cabo,BR,-22.9661,-42.0278,76.24,79,0,7.36,1613531729,
6,132,132,Pochutla,MX,15.7432,-96.4661,72.00,76,0,3.91,1613531737,
7,158,158,El Salvador,SV,13.8333,-88.9167,73.40,94,0,2.30,1613531528,
8,203,203,San Lorenzo,PY,-25.3333,-57.5333,73.40,68,0,4.61,1613531754,
9,210,210,Mossamedes,AO,-15.1961,12.1522,72.12,76,0,3.94,1613531755,
10,238,238,Yārāda,IN,17.6500,83.2667,75.20,78,0,2.30,1613531765,
11,267,267,Kassala,SD,15.4510,36.4000,71.15,29,0,9.22,1613531775,
12,295,295,Pisco,PE,-13.7000,-76.2167,71.60,78,0,5.75,1613531669,
13,330,330,Manaus,BR,-3.1019,-60.0250,78.80,83,0,5.75,1613531794,
14,343,343,Isla Pucú,PY,-25.3000,-56.9000,73.40,68,0,4.61,1613531796,
15,363,363,Alibag,IN,18.6411,72.8792,75.20,73,0,5.75,1613531805,
16,380,380,Villa Carlos Paz,AR,-31.4241,-64.4978,71.01,94,0,5.75,1613531808,
17,441,441,Cabo Rojo,PR,18.0866,-67.1457,73.69,71,0,9.91,1613531828,
18,470,470,Alta Gracia,AR,-31.6529,-64.4283,71.01,94,0,5.75,1613531837,
19,518,518,Beruwala,LK,6.4788,79.9828,79.43,74,0,2.33,1613531853,
20,527,527,Mapastepec,MX,15.4333,-92.9000,73.17,67,0,2.08,1613531855,
21,543,543,Mogok,MM,22.9167,96.5000,74.88,24,0,1.52,1613531862,

In [81]:

# Set a value for hotel names search
hotel_search = []

# Hotel name search parameters within 5000 meters.
params = {
    "radius": 5000, 
    "types":"hotel",
    "keyword":"hotel",
    "key": g_key
}

# Use the Google Places API for each city's coordinates and Use the Lat & Lng to identify hotels
for index, row in hotel_df.iterrows():
    # Retrieve Lat & Lng from hotel dataframe
    lat = row["Lat"]
    lng = row["Long"]

    # Change location each iteration while leaving orginal params in place
    params["location"] = f"{lat},{lng}"
    
    # Set up base_url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make a json request and print url
    hotel_name = requests.get(base_url, params=params).json()
     
    # Store the first Hotel result into the DataFrame
    try:
        hotel_search.append(hotel_name['results'][0]['name'])
    
    # Create message to skip missing data and keep loop running
    except:
        hotel_search.append(np.nan)
        print("Missing field/result... skipping.")

# Append searched hotel names to dataframe
hotel_df['Hotel Name'] = hotel_search

# Display complete result
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

,index,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,41,41,Busselton,AU,-33.6500,115.3333,75.99,63,0,3.00,1613531705,The Sebel Busselton
1,63,63,Hambantota,LK,6.1241,81.1185,75.20,100,0,5.75,1613531714,The Peacock Beach Hotel Hambantota
2,102,102,São João da Barra,BR,-21.6403,-41.0511,75.79,91,0,8.84,1613531726,OYO Pousada Mediterrâneo
3,104,104,Wattegama,LK,6.7989,81.4808,75.20,100,0,5.75,1613531727,NaN
4,117,117,Cidreira,BR,-30.1811,-50.2056,71.64,82,0,9.06,1613531729,Hotel Castelo
5,120,120,Arraial do Cabo,BR,-22.9661,-42.0278,76.24,79,0,7.36,1613531729,Orlanova Boutique Hotel
6,132,132,Pochutla,MX,15.7432,-96.4661,72.00,76,0,3.91,1613531737,NaN
7,158,158,El Salvador,SV,13.8333,-88.9167,73.40,94,0,2.30,1613531528,NaN
8,203,203,San Lorenzo,PY,-25.3333,-57.5333,73.40,68,0,4.61,1613531754,Factoria Hotel
9,210,210,Mossamedes,AO,-15.1961,12.1522,72.12,76,0,3.94,1613531755,iu Hotel Namibe
10,238,238,Yārāda,IN,17.6500,83.2667,75.20,78,0,2.30,1613531765,NaN
11,267,267,Kassala,SD,15.4510,36.4000,71.15,29,0,9.22,1613531775,Hipton Hotel
12,295,295,Pisco,PE,-13.7000,-76.2167,71.60,78,0,5.75,1613531669,PiscoMar Peru
13,330,330,Manaus,BR,-3.1019,-60.0250,78.80,83,0,5.75,1613531794,Hotel Villa Amazônia
14,343,343,Isla Pucú,PY,-25.3000,-56.9000,73.40,68,0,4.61,1613531796,NaN
15,363,363,Alibag,IN,18.6411,72.8792,75.20,73,0,5.75,1613531805,"Radisson Blu Resort & Spa - Alibaug, India"
16,380,380,Villa Carlos Paz,AR,-31.4241,-64.4978,71.01,94,0,5.75,1613531808,Pinares Panorama Suites & Spa
17,441,441,Cabo Rojo,PR,18.0866,-67.1457,73.69,71,0,9.91,1613531828,Hotel Perichi's
18,470,470,Alta Gracia,AR,-31.6529,-64.4283,71.01,94,0,5.75,1613531837,Solares Hotel
19,518,518,Beruwala,LK,6.4788,79.9828,79.43,74,0,2.33,1613531853,Heritance Ayurveda
20,527,527,Mapastepec,MX,15.4333,-92.9000,73.17,67,0,2.08,1613531855,Hotel San Carlos
21,543,543,Mogok,MM,22.9167,96.5000,74.88,24,0,1.52,1613531862,Mount Mogok Hotel

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [82]:
# NOTE: Do not change any of the code in this cell

# add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]
display(map)

map

In [83]:
# marker layer with heat map

hotel_marker = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Add layer
fig.add_layer(hotel_marker)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))